.navbar {
    background-color: #2F3437;
}



.navbar-nav > .active{
    font-weight: bold;

}

.flex{
    display: flex;
}

.btn-outline-success {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #2F3437;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #ffffff;

}

footer{
    background-color: #2F3437;
    margin-top: 30px;
}

main{
    min-height: 550px;
}
.navbar{
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    color: #fff;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.suport{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.suport-colums{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.col > strong{
    font-size: 20px;
}

a{
    text-decoration:none ;
    color: #fff;
}

a:hover { 
    color: rgb(143, 143, 143); 
}

.text-center{
    margin-bottom: 10px;
}

.social-media-item{
    margin-top: 10px;
}

.text-footer{
    margin-bottom: 60px;
}

a:hover{
    text-decoration: none;
}

h2{
    color: #28a745;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}



.local{
    background-color: #2F3437;
    width: 300px;
    margin-bottom: 20px;

    align-content: flex-start;
    border-radius: 20px;
    padding: 10px;
    padding-top: 15px;
}

.locals{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.locals > a{
    color: #ffffff;
}

.cidade{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: #ffffff;
}

.local-title{
    color: #28a745;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.img-top{
    border-radius: 15px;
}

.notificacao{
    padding: 20px;
    margin-top: 20px;
    background-color: #e9ecef;
    border-radius: 20px;
}

.notificacao > div > p{
    color: #000;
    display: flex;
    justify-content: center;
}


.img-loja{
    width: 50%;
    display: flex;
    justify-content: center;
}

.info-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}

.info-bottom{
    margin-top: 50px;
    justify-content: space-around;

}

.topico{
    font-size: 30px;
    color: #28a745;
}

.form-c{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form-c > p > input, textarea {
    width: 100%;
}

.div-bt{
    display: flex;
    justify-content: center;
}

.bt{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    border-color: #28a745;
    border-style: none;
    
}

.bt:hover{
    background-color: #28a74673;
    color: #28a745;

}

.navbar-toggler{
    border-color: #28a745;;
}