{% extends "base.html" %}
{% load static %}

{% block title %}
Página Inicial
{% endblock %}

{% block head %}
{% endblock %}

{% block nav %}

<li class="nav-item active">
    <a class="nav-link" href="{% url 'index' %}">Página Inicial</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'pontos' %}">Pontos de coleta</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'sobre' %}">Sobre Nós</a>
</li>

{% endblock %}

{% block h2 %}
{% endblock %}

{% block main %}
{% endblock %}