{% extends "base.html" %}
{% load static %}
{% load sweetify %}


{% block title %}
Meus Pontos
{% endblock %}

{% block head %}
{% endblock %}

{% block nav %}

<li class="nav-item ">
    <a class="nav-link" href="{% url 'index' %}">Página Inicial</a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="{% url 'pontos' %}">Pontos de coleta</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'sobre' %}">Sobre Nós</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'meus_pontos' %}">Meus pontos</a>
</li>

{% endblock %}

{% block h2 %}
Mais detalhes
{% endblock %}

{% block main %}
<div>
    {% if messages %}
    {% for message in messages %}
    <h1 style="font-size: 20px; color: #2fb54db8; margin-bottom: 10px;" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h1>
        {% endfor %}
    {% endif %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do ponto</th>
                <th scope="col">Endereço</th>
                <th scope="col">Responsável</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for local in locais %}
            <tr>

                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ local.nome_local }}</td>
                <td>{{ local.rua }}, {{ local.num_residencial }}, {{ local.bairro }}, {{ local.cidade }}-{{ local.uf }}
                </td>
                <td>{{ local.nome_responsavel }}</td>
                <td>
                    <a href="{% url 'editar' local.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'remover' local.id %}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}