{% extends "base.html" %}
{% load static %}

{% block title %}
Sobre nós
{% endblock %}

{% block head %}
{% endblock %}

{% block nav %}

<li class="nav-item ">
    <a class="nav-link" href="{% url 'index' %}">Página Inicial</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'pontos' %}">Pontos de coleta</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'sobre' %}">Sobre Nós</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'meus_pontos' %}">Meus pontos</a>
</li>
{% endif %}

{% endblock %}

{% block h2 %}
Sobre nós
{% endblock %}

{% block main %}

<section class="container">
    <section class=" " style="margin-bottom: 30px;">

        <section class="sobrenos">
            <div class="title-sobrenos">
                <h3>Nossa ideia</h3>
            </div>
            <hr>
            <div class="text-sobrenos row">
                
                <div class="col-5 img-way">
                    <img style="width: 300px;" src="{% static 'img/way2.png' %}" alt="">
                </div>
                <div class="col-7">
                    <div class="title-sobrenos">
                        <h4>O WayCollect</h4>
                    </div>
                    
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </section>
    </section>
    <section class=" container nossa-equipe" style="background-color: #FFFFFF; padding-top: 15px;">
        <div class="title-sobrenos">
            <h3>Nossa Equipe</h3>
        </div>
        <hr>
        <section class="sobrenos">
            
            <div class="text-sobrenos row">
                <div class="col-5 div-img-equipe">
                    <img class="img-equipe" src="{% static 'img/gus.jpeg' %}" alt="">
                </div>
                <div class="col-7">
                    <div class="title-sobrenos">
                        <h4>Gustavo Emanuel Silva Queiroz</h4>
                    </div>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </section>
        <section class="sobrenos">
            
            <div class="text-sobrenos row">
                <div class="col-5 div-img-equipe">
                    <img class="img-equipe" src="{% static 'img/isa.png' %}" alt="">
                </div>
                <div class="col-7">
                    <div class="title-sobrenos">
                        <h4>Maria Isadora da Silva Mesquita</h4>
                    </div>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </section>
        <section class="sobrenos">
            
            <div class="text-sobrenos row">
                <div class="col-5 div-img-equipe">
                    <img class="img-equipe" src="{% static 'img/vivi.jpeg' %}" alt="">
                </div>
                <div class="col-7">
                    <div class="title-sobrenos">
                        <h4>Maria Vitória Fernandes Rocha</h4>
                    </div>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </section>
        <section class="sobrenos">
            
            <div class="text-sobrenos row">
                <div class="col-5 div-img-equipe">
                    <img class="img-equipe" src="{% static 'img/marina.png' %}" alt="">
                </div>
                <div class="col-7">
                    <div class="title-sobrenos">
                        <h4>Marina Maia Rego</h4>
                    </div>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </section>
    </section>
</section>

{% endblock %}